app/etc/local.xml

/errors/local.xml

/media/dhl
/media/downloadable
/media/import/
/media/catalog/
/media/customer
/media/wysiwyg/
/media/captcha/
/media/tmp/
/media/xmlconnect
/media/custom_options/
/media/email/
/media/wrapping/

/var/import/
/var/export/
/var/cache/
/var/log/
/var/session/
/var/locks/
/var/package
/var/report/
/var/resource_config.json

sitemap.xml

/skin/frontend/rwd/default/images/media/logo.png
/skin/frontend/rwd/default/images/media/logo_small.png

*.sublime*
